---

# DS400: Assignment I (Python)

##### Ada Lovelace (Student ID: 1234567)
##### September 1, 1843


---

## Importing data

<div class="alert alert-block alert-info">

1. Import the data into R and python, respectively. In R, try out all three functions discussed in the lecture: utils:::read.csv(), readr:::read_csv() and data.table:::fread() on at least one of the two tables. In python, use pandas.read_csv().
</div>

In [1]:
import pandas as pd

# Define file paths
data_path = "C:/Users/Admin/Downloads/DS400 Data Science Project Management WS23-24/Assignments/Assignment1/"

# Load datasets
cases = pd.read_csv(f"{data_path}cases.csv")
policies= pd.read_csv(f"{data_path}policies.csv")

<div class="alert alert-block alert-info">

2. Print the first five rows and column types in R and python, respectively
</div>

In [2]:
# Display the first few rows of each dataset
print(cases.dtypes)
cases.head()

district           object
incidence_rate    float64
year_month          int64
day                 int64
district_type      object
dtype: object

    district  incidence_rate  year_month  day district_type
0  Flensburg            46.7      202101    1         Stadt
1  Flensburg            47.8      202101    2         Stadt
2  Flensburg            48.9      202101    3         Stadt
3  Flensburg            48.9      202101    4         Stadt
4  Flensburg            57.8      202101    5         Stadt

In [3]:
print(policies.dtypes)
policies.head()

district                object
district_type=Stadt       bool
district_type=Kreis       bool
2021-01-01 00:00:00    float64
2021-01-02 00:00:00    float64
                        ...
2021-12-27 00:00:00    float64
2021-12-28 00:00:00    float64
2021-12-29 00:00:00    float64
2021-12-30 00:00:00    float64
2021-12-31 00:00:00    float64
Length: 368, dtype: object

,district,district_type=Stadt,district_type=Kreis,2021-01-01 00:00:00,2021-01-02 00:00:00,2021-01-03 00:00:00,2021-01-04 00:00:00,2021-01-05 00:00:00,2021-01-06 00:00:00,2021-01-07 00:00:00,...,2021-12-22 00:00:00,2021-12-23 00:00:00,2021-12-24 00:00:00,2021-12-25 00:00:00,2021-12-26 00:00:00,2021-12-27 00:00:00,2021-12-28 00:00:00,2021-12-29 00:00:00,2021-12-30 00:00:00,2021-12-31 00:00:00
0,Ahrweiler,False,False,16.0,16.0,16.0,16.0,16.0,16.0,16.0,...,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0
1,Aichach-Friedberg,False,False,18.0,18.0,18.0,18.0,18.0,18.0,18.0,...,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0
2,Alb-Donau-Kreis,False,False,18.0,18.0,18.0,18.0,18.0,18.0,18.0,...,15.0,15.0,15.0,15.0,15.0,17.0,17.0,17.0,17.0,17.0
3,Altenburger Land,False,False,18.0,18.0,18.0,18.0,18.0,18.0,18.0,...,16.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0
4,Altenkirchen (Ww),False,False,16.0,16.0,16.0,16.0,16.0,16.0,16.0,...,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0

## Tidying the data
<div class="alert alert-block alert-info">   
4. Please write down the requirements for some data table to be tidy in your submission notebook.
</div>

<div class="alert alert-block alert-info" style="background-color: yellow;">   
    
**Requirments for data tables to be Tidy:**

- Each variable forms a column.

- Each observation forms a row.

- Each type of observational unit forms a table.
</div>

<div class="alert alert-block alert-info">   
5. Can any of the two tables be considered tidy? If not, what would you have to do to make them tidy?
Please perform all necessary steps to make the data tidy. Print the first five rows of the resulting tables.
</div>

<div class="alert alert-block alert-info" style="background-color: yellow;">   
    
##### I- policies.csv
    
**policies.csv is NOT tidy for the following reasons:**

- The dataset features a column for each day of the calendar year. To streamline the data, we can consolidate these columns into a single one representing the date variable.

- The district type variable is currently split into two separate columns. To streamline this, we can merge both columns into a unified representation.

- Missing values in the dataset, particularly in the district type and stringency index columns.

Since 'district' and 'district_type' are categorical variables that won't change, we can create a separate table to store this information. This task wasn't explicitly mentioned in the assignment, so I didn't include it as part of my solution below."
</div>

In [4]:
# Step 1: Split the 'district' column into 'district' and 'district_type'
policies[['district', 'district_type']] = policies['district'].str.split(',', expand=True).rename(columns={0: 'district', 1:'district_type'})

# Step 2: Iterate over the district types and create boolean columns to filter and update
for district_type in ['Stadt', 'Kreis']:
    boolean_col = policies[f'district_type={district_type}']
    policies.loc[boolean_col, 'district_type'] = district_type
    policies.drop(columns=[f'district_type={district_type}'], inplace=True)
    
# Step 3: Reshape the DataFrame so that date becomes a column instead of row
policies = policies.melt(id_vars=['district', 'district_type'], var_name='date', value_name='stringency_index')

# Step 4: Convert the 'date' column to datetime
policies['date'] = pd.to_datetime(policies['date'])

# Step 5 Drop rows where SI is missing
policies = policies.dropna(subset=['stringency_index'])

# Step 6: Drop rows with invalid dates
policies = policies.dropna(subset=['date'])

print(policies['district_type'].unique())
policies.head()

[None 'Kreis' 'Stadt' ' Landeshauptstadt' ' Hansestadt']

            district district_type       date  stringency_index
0          Ahrweiler          None 2021-01-01              16.0
1  Aichach-Friedberg          None 2021-01-01              18.0
2    Alb-Donau-Kreis          None 2021-01-01              18.0
3   Altenburger Land          None 2021-01-01              18.0
4  Altenkirchen (Ww)          None 2021-01-01              16.0

<div class="alert alert-block alert-info" style="background-color: yellow;">   
    
##### II- cases.csv
    
**cases.csv is considered NOT tidy because:**

- The date information is spread across two separate columns. To rectify this, we should combine these two columns into a single date column.
- There are missing values within the district_type variable in the dataset.
</div>

In [5]:
# Step 1: Combine year_month and day into a single date column
cases['date'] = pd.to_datetime(cases.year_month.astype(str) + cases.day.astype(str).str.zfill(2))

# Step 2: Drop the separate 'year_month' and 'day' columns
cases.drop(columns=['year_month', 'day'], inplace=True)

print(cases['district_type'].unique())
cases.head()

['Stadt' 'Landeshauptstadt' 'Hansestadt' nan 'Kreis']

    district  incidence_rate district_type       date
0  Flensburg            46.7         Stadt 2021-01-01
1  Flensburg            47.8         Stadt 2021-01-02
2  Flensburg            48.9         Stadt 2021-01-03
3  Flensburg            48.9         Stadt 2021-01-04
4  Flensburg            57.8         Stadt 2021-01-05

---

### Merging the data

<div class="alert alert-block alert-info">

6. Merge the two tables by district, district_type and date. Only keep rows with a match in both
tables. In R, if you use {dplyr} make sure to fill missing values in the district_type column before
the merge. Otherwise it won’t work properly. Call the resulting data frame merged and print its shape.

</div>

In [6]:
# Merge the two DataFrames by district, district_type, and date
merged = pd.merge(policies, cases, on=['district', 'district_type', 'date'], how='inner')

print("Shape of the merged DataFrame:", merged.shape)

Shape of the merged DataFrame: (126416, 5)

---

## Analyzing the data

<div class="alert alert-block alert-info">

7. Calculate the correlation coefficient between the stringency index and the incidence rate. What do you
observe? Please discuss the finding and if this analysis is meaningful in your submission notebook.

</div>

In [7]:
# Calculate the correlation coefficient
correlation_coefficient = merged['stringency_index'].corr(merged['incidence_rate'])

print("Correlation coefficient between stringency index and incidence rate:", correlation_coefficient)

Correlation coefficient between stringency index and incidence rate: 0.13909812453839843